/* px instead of pt because of nextjs + vercel server-side image optimization */
.image {
  margin: 10vh auto 3vh;
  width: 700px;
  height: 200px;
}

.text {
  margin-bottom: 10vh;
  text-align: center;
  font-size: 24pt;
}