@import 'color-scheme';

body {
  margin: 0 !important;
  font-family: Helvetica, sans-serif !important;
  background-color: var(--light-gray) !important;
  color: var(--dark-blue) !important;
}

/* px instead of pt because of nextjs + vercel server-side image optimization */
.navbar {
  height: 70px;
  background-color: var(--blue);
  align-content: center;
  font-size: 24px;
  text-decoration: none !important;
  padding-bottom: 0;
}

/* px instead of pt because of nextjs + vercel server-side image optimization */
.logo {
  width: 54px;
  min-width: 54px;
  height: 54px;
  min-height: 54px;
  margin: 0 0 8px 8px;
}

.page-link-container {
  display: flex;
  margin: auto 0 0 15px;
}

.page-link {
  padding: 0;
  margin: 0 20px 0 0;
}

.login-link {
  margin: auto 12px 0 auto;
  text-decoration: none !important;
}

.page-link,
.login-link {
  background-color: transparent !important;
  border: none !important;
  color: var(--light-gray) !important;
}

.page-link:hover,
.login-link:hover {
  color: var(--orange) !important;
}

// .page-link:focus,
// .login-link:focus {
//   box-shadow: none;
// }

.content {
  margin: 0 10pt;
}

.footer {
  margin: 12pt 50pt;
  border-top: 1pt solid var(--dark-gray);
  text-align: center;
}

@media only screen and (max-width: 775px) {
  .page-link {
    margin: 0 12px 0 0;
  }

  .login-link {
    margin: auto 12px 0 auto;
  }

  .navbar {
    font-size: 18px;
  }
  
  .page-link-container {
    margin: auto 0 0 10px;
  }
}

@media only screen and (max-width: 575px) {
  .page-link {
    margin: 0 10px 0 0;
  }

  .login-link {
    margin: auto 6px 0 auto;
  }

  .navbar {
    font-size: 14px;
  }
  
  .page-link-container {
    margin: auto 0 0 5px;
  }
}