:root {
  --light-blue: #91CFDE;
  --blue: #3E5E8E;
  --dark-blue: #0E1C36;
  --red: #D04E6A;
  --orange: #FBA43C;
  --maroon: #491C07;
  --light-gray: #F5F5F5;
  --gray: #E0E0E0;
  --dark-gray: #CCCCCC;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: var(--light-gray);
  color: var(--dark-blue);
}

.navbar {
  height: 70pt;
  background-color: var(--blue);
}

.logo {
  width: 54pt;
  height: 54pt;
  padding: 8pt 12pt;
}

.page-link {
  color: var(--light-gray)
}

.content {
  margin: 0 10pt;
}

.footer {
  margin: 12pt 50pt;
  border-top: 1pt solid var(--dark-gray);
  text-align: center;
}